* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: #052d1b;
  display: flex;
  align-items: center;
  justify-content: center;
}
